<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API QUIZ</title>
</head>
<body>
    <a href="{% url 'show_users' %}">view users here</a>
    <div>search user here!</div>
    <div>
        {% if error %}
            <div>User adding was unsuccefully</div>
        {% endif %}
        {% if success %}
            <div>User added succefully</div>
        {% endif %}
        <form method="post" action="{% url 'index' %}">
            {% csrf_token %}
            {{login_form.as_p}}
            <input type="submit" value="search" />
        </form>
    </div>
</body>
</html>